* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body {
    background-color: #2810fd;
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #131313;
}